.div-b{
    width: 100%;
   background-color: rgba(0, 0, 0, 0.448);
   margin-top: 30px !important;
   border: 7px solid black;
   box-shadow: 0px 0px 25px orange;
   text-shadow: 0px 0px 10px #000000 ;
}
.container{
    h1{
        color: rgb(255, 166, 0);
        text-shadow: 0px 0px 15px rgb(255, 166, 0);
        margin-top: 50px !important;
        
    }
    margin-top: 100px;
}
.container.light{
    h1{
        color: #f6c70c !important;
        text-shadow: 0px 0px 15px black ;
       
        
    }
    .div-b{
       box-shadow: 0px 0px 15px #f6c70c;
        border: 7px solid black;
        background-color: #fadd6b63;
        text-shadow: 0px 0px 15px #000000 ;
        .card{
            background-color:#f9d64cb9 !important;
            border: 5px solid black;
            box-shadow: 0px 0px 20px #ffc400;
            height: 650px;
        }
        
      
} 
    }
    
.div-a{
    p{
        margin-left: 60px;
        margin-top: 30px;
        font-size: 22px;
    }
    h5{
        width: 340px;
        height: 50px;
       margin-left: -10px;
    }
    .card{
        background-color:rgba(255, 166, 0, 0.715) !important;
        border: 5px solid black;
        box-shadow: 0px 0px 20px orange;
        height: 650px;
    }
    .btn-l{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: -50px;
        margin-top: -30px;
        
    }
    .btn-one{
        margin-left: 20px;
    }
    .bth{
        margin-top: 10px;
        background-color: transparent !important;
        border: none !important;
        box-shadow: none;
        width: 10px;
    }
    
}
