.slickSlider {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
   background-color: rgba(0, 0, 0, 0.407);
   border: 7px solid black;
   box-shadow: 0px 0px 20px rgb(0, 0, 0);
   margin-top: 200px !important;
   margin-bottom: 100px !important;
   
  }
 

  